/* Estilo personalizado para los SweetAlerts */
.swal2-popup {
    border-radius: 10px; /* Bordes redondeados */
}

.swal2-confirm {
    background-color: #ffc107; /* Fondo amarillo para el botón de confirmación */
    color: #28a745; /* Letras verdes para el botón de confirmación */
    border-radius: 20px; /* Bordes redondeados */
}

.swal2-cancel {
    background-color: #dc3545; /* Fondo rojo para el botón de cancelación */
    color: #fff; /* Letras blancas para el botón de cancelación */
    border-radius: 20px; /* Bordes redondeados */
}
  


header h2 {
    color: #00a082;
    font-family: 'Gotham', sans-serif;
    font-size: 30px;
}

  
  
  
  
  /* Estilo para ocultar los divs */
        .hidden {
            display: none;
        }
        
        /* Establecer la altura de la página al 100% del viewport */
html, body {
    height: 100%;
    font-family: Arial;
}











/* Estilo para el botón Buscar dentro del div #restaurantes */
#restaurantes button[type="submit"] {
    background-color: #ffc244; /* Color de fondo amarillo */
    font-size: 20px; /* Tamaño de fuente */
    font-weight: bold; /* Hacer la letra más ancha */
    color: #00a082; /* Color de texto verde */
}

/* Estilo para los botones de editar */
.boton-editar {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #00a082;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo para el hover de los botones de editar */
.boton-editar:hover {
    background-color: #00845e;
    color: #eee;
}

/* Estilo para los botones de eliminar */
.boton-eliminar {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ff6347; /* Color rojo para botón de eliminar */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo para el hover de los botones de eliminar */
.boton-eliminar:hover {
    background-color: #cc473d; /* Color rojo más oscuro para hover */
    color: #eee;
}




/* Estilo para los botones con formato */
.boton-formato {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #00a082;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo para el hover */
.boton-formato:hover {
    background-color: #00845e;
    color: #eee;
}



@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Light.ttf') format('truetype');
    /* Puedes agregar más variantes de la fuente según sea necesario */
}


/* CSS RESTAURANTE */
    /* Estilo para los botones del div */
    .boton-formato {
        border-radius: 30px; /* Bordes redondeados */
        padding: 15px 30px; /* Espaciado interior */
        font-size: 18px; /* Tamaño de fuente */
        margin: 10px; /* Margen entre botones */
        background-color: #00a082; /* Color de fondo */
        color: #fff; /* Color del texto */
        border: none; /* Eliminar borde */
        cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
        transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Transición suave */
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra */
        margin-left: 220px;
    }

    /* Estilo para el hover */
    .boton-formato:hover {
        background-color: #00845e; /* Color de fondo al pasar el mouse */
        color: #eee; /* Color del texto al pasar el mouse */
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
    }

    /* Estilo adicional para el segundo botón */
.boton-formato + .boton-formato {
    margin-left: 10px; /* Ajustar margen izquierdo para el segundo botón */
}

    /* Estilo para centrar el h2 */
    #restaurantes h2{
        font-size: 50px;
        text-align: left;
        font-weight: bold;
        padding-left: 230px;
        font-family: 'Gotham', sans-serif;
    }




















/* Estilo para los botones */
button {
    border-radius: 8px; /* Bordes redondos */
    padding: 10px 20px; /* Espaciado interior */
    font-size: 16px; /* Tamaño de la fuente */
}

/* Estilo para los botones del div */
.boton-seleccion {
    border-radius: 30px; /* Bordes redondeados */
    padding: 15px 30px; /* Espaciado interior */
    font-size: 18px; /* Tamaño de fuente */
    margin: 10px; /* Margen entre botones */
    background-color: #00a082; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Eliminar borde */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Transición suave */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra */
}

/* Estilo para el hover */
.boton-seleccion:hover {
    background-color: #00845e; /* Color de fondo al pasar el mouse */
    color: #eee; /* Color del texto al pasar el mouse */
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
}






/* Establecer el tamaño del contenido al 100% del viewport */
#restaurantes, #usuarios, #platos {
    height: calc(100% - 60px); /* Restar la altura del encabezado */
    overflow-y: auto; /* Permitir el desplazamiento vertical si el contenido es demasiado largo */
}

/* Estilo para el encabezado */
header {
    text-align: center;
    background-color: #ffc244; /* Color de fondo */
    padding: 20px 0; /* Espaciado interior */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 20px; /* Margen inferior para separar del contenido */
}

/* Estilo para los botones del encabezado */
header button {
    background-color: white; /* Color de fondo inicial */
    color: #000; /* Color del texto */
    border: 2px solid #000; /* Borde sólido */
    padding: 10px 20px; /* Espaciado interior */
    margin: 0 10px; /* Margen entre botones */
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
}


/* Estilo para el formulario */
form {
    color: white;
    font-size: 20px;
    padding-top: 5px;
    border: 2px solid #ccc; /* Borde sólido con color gris claro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 0px; /* Espaciado interior */
    background-color: #00a082; /* Color de fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 80%; /* Igualar al ancho de la tabla */
    margin: 0 auto; /* Centrar horizontalmente */
    border: 1px solid #000; /* Borde sólido */
    font-weight: bold; /* Hacer la letra más ancha */
}

/* Estilo para las tablas */
table {
    margin: 0 auto; /* Centrar la tabla */
    border-collapse: collapse; /* Colapso de borde de tabla */
    width: 80%; /* Ancho de la tabla */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Ocultar contenido desbordado */
}

/* Estilo para las filas impares de la tabla */
tr:nth-child(odd) {
    background-color: #eef7f3; /* Fondo blanco para filas impares */
}

/* Estilo para las filas pares de la tabla */
tr:nth-child(even) {
    background-color: #d7efe3; /* Fondo verde claro para filas pares */
}

/* Estilo para las celdas de la tabla */
th, td {
    border: 1px solid #000; /* Borde sólido */
    padding: 8px; /* Espaciado interior */
    text-align: center; /* Alineación centrada del texto */
}

/* Estilo para las celdas de encabezado de la tabla */
th {
    background-color: #00a082; /* Color de fondo */
    color: white; /* Color del texto */
}

/* Estilo para los formularios de filtro */
form {
    text-align: center; /* Centrar contenido */
}


/* Estilo para los campos de filtro */
form input[type="text"],
form input[type="number"],
form select {
    margin: 5px; /* Margen entre elementos */
    padding: 5px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para los botones de filtrado y agregar */

button[type="submit"] {
    margin: 5px; /* Margen entre elementos */
    padding: 10px 20px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
}

/* Estilo para los botones de filtrado y agregar cuando se presionan */

button[type="submit"]:active {
    background-color: green; /* Color de fondo cuando se pulsa */
    color: white; /* Color del texto */
}


/* Estilo para los filtros dentro de los divs */
div > label {
    display: block; /* Mostrar los labels como bloques */
    text-align: center; /* Centrar el texto */
    margin-bottom: 5px; /* Margen inferior */
}

div > input[type="text"],
div > input[type="number"],
div > select {
    /* display: block; */ /* Quitar esta línea */
    /* margin: 0 auto 10px; */ /* Quitar esta línea */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px; /* Espaciado interior */
}

/* Estilo para el contenedor de filtros */
div > div {
    display: flex; /* Utilizar flexbox */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en varias líneas */
    justify-content: center; /* Centrar horizontalmente los elementos */
}

/* Estilo para los elementos dentro del contenedor de filtros */
div > div > label,
div > div > input[type="text"],
div > div > input[type="number"],
div > div > select {
    margin: 5px; /* Margen entre elementos */
}










/* Estilos para tabla USUARIOS */

    /* Estilo para centrar el h2 */
    #usuarios h2{
        font-size: 50px;
        text-align: left;
        font-weight: bold;
        padding-left: 230px;
        font-family: 'Gotham', sans-serif;
    }

    .boton-formato-dos {
        border-radius: 40px; /* Bordes redondeados */
        padding: 15px 30px; /* Espaciado interior */
        font-size: 18px; /* Tamaño de fuente */
        margin: 10px; /* Margen entre botones */
        background-color: #00a082; /* Color de fondo */
        color: #fff; /* Color del texto */
        border: none; /* Eliminar borde */
        cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
        transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Transición suave */
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra */
        margin-left: 220px;
        font-weight: bold;
    }

    /* Estilo para el hover */
    .boton-formato-dos:hover {
        background-color: #00845e; /* Color de fondo al pasar el mouse */
        color: #eee; /* Color del texto al pasar el mouse */
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
        font-weight: bold;
    }


/* Estilos para tabla PLATOS */

    /* Estilo para centrar el h2 */
    #platos h2{
        font-size: 50px;
        text-align: left;
        font-weight: bold;
        padding-left: 230px;
        font-family: 'Gotham', sans-serif;
    }


    #platos select {
        background-color: #ffc244;
        font-size: 20px;
        font-weight: bold;
        color: #00a082;
        border: none; /* Eliminar borde */
        border-radius: 5px; /* Bordes redondeados */
        padding: 8px 12px; /* Espaciado interior */
        margin: 5px 0; /* Margen superior e inferior */
        box-sizing: border-box; /* Incluir padding y border en el ancho total */
    }
    
    #usuarios select {
        background-color: #ffc244;
        font-size: 20px;
        font-weight: bold;
        color: #00a082;
        border: none; /* Eliminar borde */
        border-radius: 5px; /* Bordes redondeados */
        padding: 8px 12px; /* Espaciado interior */
        margin: 5px 0; /* Margen superior e inferior */
        box-sizing: border-box; /* Incluir padding y border en el ancho total */
    }
    