@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Light.ttf') format('truetype');
    /* Puedes agregar más variantes de la fuente según sea necesario */
}

* {
    font-family: 'Gotham-Bold', sans-serif;
}


/*---------------CLASES-DE-COLUMNAS----------------*/

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slt:after {
    content: "";
    display: table;
    clear: both;
}

.column-1 {
    width: 100%;
    float: left;
}

.column-3{
    width: 33%;
    float: left;
}


.column-2 {
    width: 50%;
    float: left;
}

.column-4 {
    width: 25%;
    float: left;
}

.column-5 {
    width: 20%;
    float: left;
}


/* ---------------ESTILOS-PARA-SECCIONES-CON-ID-------- */

.svg-cont {
    height: 200px;
    width: 200px;
    align-items: center;
    box-sizing: border-box;
    display: grid;
    height: 100%;
    margin: 0 auto;
    max-width: calc(1124px + 15%);
    padding-left: 7.5%;
    padding-right: 7.5%;
    width: 100%;
}

svg {
    width: 8rem;
}

#section-1 {
    background-color: rgb(255, 194, 68);
}

#section-1 h1 {
    margin: 32px 0;
    color: #000;
    word-wrap: anywhere;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    /* font-size: 54px; */
}

#section-1 p {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 12px;
}

#int-1 img {
    width: 100%;
}
/* ---------BARRA-DE-NAVEGACION------- */
span#basic-addon1{
    border: 0;
}
.navbar {
    background-color: rgb(255, 194, 68);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease;
    padding: 10px 260px 10px;
    /* Agregamos una transición suave para el cambio de sombra */
}

.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: margin-top 0.3s ease;
}

.header-transition {
    transition: opacity 0.3s ease;
    /* Transición de opacidad durante 0.3 segundos con un efecto ease */
}

.input-restaurante {
    margin-top: 20px;
}

.bottom-input {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
}

.green {
    background-color: #00A082FF;
    color: white;
}

.btn-custom {
    background-color: #00A082FF;
    border-radius: 25px;
    padding: 5px 20px;
    font-size: 15px;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.spn-nav {
    font-size: 14px;
    font-weight: 700;
    height: 44px;
    line-height: 1.43;
    color: white;
}

.btn-custom:hover {
    background-color: #006653FF;
}


/*--------FILTROS-PAGINA-PRINCIPAL-------- */

#buscador{
    width: 65rem;
    padding: 20px;
    /* height: 5çrem; */
    background-color:#ffc244;
    border-radius: 10px;
    /* border: 2px #000 solid; */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}


/*-----LABELS DE LAS TARJETAS PRINCIPALES---*/
.label {
    display: inline-block;
    padding: 4px;
    margin: 0px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.clr-price{
    background-color: #ffc244;
    color: #000;
}

.clr-1{
    background-color: #00A082;
    color: white; /* Color de texto negro */

}
.clr-2{
    background-color: #8b00a0;
    color: white; /* Color de texto negro */
}
.clr-3{
    background-color: #005da0;
    color: white; /* Color de texto negro */
}

.label-name {
    margin-right: 8px;
}

/* ----------ESTILOS FORMULARIO-----------*/

.margen {
    margin-bottom: 20px;
}

.btn-custom2 {
    border-radius: 30px;
    padding: 5px 20px;
    width: 100%;
    font-size: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.inputs {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}

.star {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

.star:hover,
.star.active {
    color: gold;
}

/* -------ESTILOS DE LAS TARJETAS DE RESTAURANTES------*/
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.card-title{

    text-align: left;
}
.card{
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin: 20px;
    width: auto;
    height: auto;
    text-align: center; /* Centra el contenido dentro del contenedor */
}

.card-body{
    padding: 0;
    margin: 10px;
    text-align: left;
    font-size: 12px;
}
