/*---------------CLASES-DE-COLUMNAS----------------*/

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slt:after {
    content: "";
    display: table;
    clear: both;
}

.column-1{
    width: 100%;
    float: left;
}

.column-5{
    width: 20%;
    float: left;
}

.column-4{
    width: 25%;
    float: left;
}

